* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* Das hier ignoriert die Ränder für Kamera-Notch und Home-Balken */
  padding-bottom: env(safe-area-inset-bottom); 
  background: #000;
  overflow: hidden;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  
  /* 'fill' zwingt das Bild in jede Ecke, auch wenn es verzerrt.
     Wenn du es proportional willst, nimm wieder 'contain'. */
  object-fit: fill; 
  
  display: block;
  z-index: 9999;
}
